// .mat {
//     width: 20%;
      
// }

.mat-card {
    width: -10%;
     height: 187px;
 }

.input {
    border: none;
    width: 100%;
    font-size: 20px;
    outline: none;
}  

.div-part1 {
    width: 100%;
    gap: 10px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
     