
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin-left: 110px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
 }

.mat-card {
     height: 187px;
     width: 260px;     
}

.input {
    display: flex;
    border: none;
    width: 100%;
    font-size: 20px;
    outline: none;
    border: none;
    justify-content: space-between;
   
}  

.div-part1 {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width:fit-content;
    margin: 3%;
}
  
// @media (min-width:180px) and (max-width:790Px){
//    .main {
//        display: flex;
//        flex-direction: column;
//    } 
// }

@media (max-width: 400px) {
    .main {
        display: flex;
        flex-direction: column;
        //margin-top: -150px;
        //justify-content: space-around center;
        
    } 
}