<div class="header">
    <div fxLayoutAlign="space-around center" class="header-content">
        <button  class="menu-button" (click)="sidenav.toggle();">
            <img src="../../../assets\dashboard\menu_FILL0_wght400_GRAD0_opsz48.png" title="Main menu" style="height: 30px; opacity: 1;">
        </button>
       <!-- </mat-toolbar> -->
        <span>
            <img src="../../../assets/dashboard/img1.png" title="Fundoo" style="height: 30px;">
        </span>
        <!-- <span style="font-size: x-large;"><b>Fundoo</b></span> -->
        <div class="fundoo" title="Fundoo">
            <span class="textsty" style="color:#4169e1">F</span>
            <span class="textsty" style="color:#b22222">u</span>
            <span class="textsty" style="color: #ff8c00">n</span>
            <span class="textsty" style="color:#4169e1">d</span>
            <span class="textsty" style="color: green">o</span>
            <span class="textsty" style="color: #b22222">o</span>
        </div>
    </div>
    <div fxLayoutAlign="space-around center">
        <input type="search" class="search" placeholder="Search" style="height: 30px;">
    </div>
    <div fxLayoutAlign="space-around center" class="header-content1">
        <span>
            <img src="../../../assets/dashboard/refresh_FILL0_wght400_GRAD0_opsz48.png" title="Refresh" style="height: 30px;">
        </span>
        <span>
            <img src="../../../assets\dashboard\view_agenda_FILL0_wght400_GRAD0_opsz48.svg" title="List view" style="height: 30px;">
        </span>
        <span>
            <img src="../../../assets/dashboard/settings_FILL0_wght400_GRAD0_opsz48.png" title="Setting" style="height: 30px;">
        </span>
    </div>
    <div fxLayoutAlign="space-around center" class="header-content2" >
        <span>
            <img src="../../../assets/dashboard/apps_FILL0_wght400_GRAD0_opsz48.png" title="Fundoo Apps"style="height: 30px;">
        </span>
        <span>
            <img src="../../../assets/dashboard/img2.png" title="Fundoo Account | Pratik Bhivgade" style="height: 30px;">
        </span>
    </div>
</div>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list >
            <div fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="20px" mat-list-item>
                <button mat-icon-button (click)="expand1();">
                    <img src="../../../assets/dashboard\lightbulb_FILL0_wght400_GRAD0_opsz48.svg" style="height: 30px;">
                </button>
                <a mat-list-item *ngIf="isValid" >Notes</a>
            </div>
            <div fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="20px" mat-list-item>
                <button mat-icon-button (click)="expand2();">
                    <img src="../../../assets/dashboard\notifications_FILL0_wght400_GRAD0_opsz48.svg"  style="height: 30px;">
                </button>
                <a mat-list-item *ngIf="isValid">Reminders</a>
            </div>       
            <div fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="20px" mat-list-item>
                <button mat-icon-button (click)="expand3();">
                    <img src="../../../assets/dashboard\edit_FILL0_wght400_GRAD0_opsz48.svg"  style="height: 30px;">
                </button>
                <a mat-list-item *ngIf="isValid">Edit Labels</a>
            </div>   
            <div fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="20px" mat-list-item>
                <button mat-icon-button (click)="expand4();">
                    <img src="../../../assets/dashboard\archive_FILL0_wght400_GRAD0_opsz48.svg"  style="height: 30px;">
                </button>
                <a mat-list-item *ngIf="isValid">Archive</a>
            </div>       
            <div fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="20px" mat-list-item>
                <button mat-icon-button (click)="expand5();">
                    <img src="../../../assets/dashboard\delete_FILL0_wght400_GRAD0_opsz48.svg"  style="height: 30px;">
                </button>
                <a mat-list-item *ngIf="isValid">Trash</a>
            </div>      
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;" ><router-outlet></router-outlet></div>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- <app-note></app-note> -->