<div class="Container">
    <div class="fundoo">
        <span class="textsty" style="color:#4169e1">F</span>
        <span class="textsty" style="color:#b22222">u</span>
        <span class="textsty" style="color: #ff8c00">n</span>
        <span class="textsty" style="color:#4169e1">d</span>
        <span class="textsty" style="color: green">o</span>
        <span class="textsty" style="color: #b22222">o</span>
    </div>
    <div class="text">
        <p>Reset Password</p>
    </div>
    <div class="label">
        <p>
            <mat-form-field appearance="outline" style="width: 400px">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </p>
    </div> 
    <div class="label">
        <p>
            <mat-form-field appearance="outline" style="width: 400px">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </p>
    </div>
    <div class="button">
        <button mat-raised-button Next class="btn"><b>Next</b></button>
    </div>
</div>
