.Container {
    border: 1px solid black;
    width: 600px;
    height: 600px;
    margin-left: 350px;
    border-radius: 10px;
}

.fundoo {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}


.btn {
    background-color: #1A73E8;
    color: white;
}

.text {
    text-align: center;
    font-size: 30px;
}

.label {
    text-align: center;
    margin-top: 60px;
}

.button {
    margin-left: 435px;
}

