.note-input {
    border: none;
    width: 100%;
    font-size: 20px;
    outline: none;
    
    
}

.main {
    margin-top: 100px;
}

.mat-content {
    width: 100%;
}

.div-part {
    width: 58%;
}

.div-part1 {
    width: 100%;
    gap: 10px;
    border-radius: 2px;
    
}

.button {
    margin-top: 15px;
    text-align: right;
}

