<!-- <p>icons works!</p> -->
<div fxLayout="row" >
    <button mat-icon-button>
        <img class="icon-img" src="../../../assets/icons/add_alert_FILL0_wght400_GRAD0_opsz48.svg" title="Remind me">
    </button>
    <button mat-icon-button>
        <img class="icon-img" src="../../../assets/icons/person_add_FILL0_wght400_GRAD0_opsz48.svg" title="Collaborator">
    </button>
    <button mat-icon-button>
        <img class="icon-img" src="../../../assets/icons/palette_FILL0_wght400_GRAD0_opsz48.svg" title="Background option">
    </button>
    <button mat-icon-button>
        <img class="icon-img" src="../../../assets/icons/image_FILL0_wght400_GRAD0_opsz48.svg" title="Add image">
    </button>
    <button mat-icon-button>
        <img class="icon-img" src="../../../assets/dashboard/archive_FILL0_wght400_GRAD0_opsz48.svg" title="Archive">
    </button>
    <button mat-icon-button>
        <img class="icon-img" src="../../../assets/icons/more_vert_FILL0_wght400_GRAD0_opsz48.svg" title="More">
    </button>
</div>