.button {
    text-align: right;
    margin-top: 6px;
}

.title {
    border: none;
    outline: none;
    font-size: large;
    width: 80%;
}

.description {
    border: none;
    outline: none;
    font-size: large;
    margin-top: 50px;
    width: 80%;
}

::ng-deep.mat-dialog-container {
    padding: 0px;
    overflow: hidden;
    border: none;
    outline: none;
}

