<!-- <p>all-notes works!</p> -->
<div class="main" fxlayout="coloumn" fxlayoutAlign="center center">
    <div style="margin-top: -60px;" class="display">
        <app-note (noteToRefresh)=" getAllNote()"></app-note>
    </div>
    <div style="margin-top: 100px;" class="display">
        <app-note-display [NoteArray]="notesArray" (noteToRefresh)=" getAllNote()" (trashNoteToRefresh)="trash($event)" (archiveNoteAndRefresh)="archive($event)" (updateNoteToRefresh)="updateNote($event)"  ></app-note-display>
    </div>
</div>